.nav {
  display: flex;
  gap: 100px;
  font-size: 30px;
}

.link {
  color: #ffffff;

  &:global(.active) {
    color: #ff0000;
  }

  transition: transform 250ms ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}
