.wrapper {
  width: 60vw;
  margin: 0 auto;
  padding: 30px;
}

.item {
  padding: 15px;

  border: 2px solid blue;
  border-radius: 10px;
  box-shadow: 3px 3px 5px grey;

  background-color: #8098c9;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  cursor: pointer;

  transition: box-shadow 250ms ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 5px 5px 20px rgb(75, 71, 71), -2px -2px 10px rgb(90, 86, 86);
  }
}

.btn {
  display: block;
  margin: 30px auto;
  padding: 12px 24px;

  background-color: rgb(76, 123, 217);
  color: white;

  box-shadow: 2px 2px 7px 2px #908080;
  border-radius: 10px;
  border: none;

  font-size: 18px;
  line-height: 22px;

  text-transform: uppercase;
  cursor: pointer;

  transition: box-shadow 250ms ease-in-out;

  &:hover {
    box-shadow: 5px 5px 20px rgb(224, 218, 218),
      -2px -2px 10px rgb(225, 218, 218);
  }
}
